.header {
  -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25),
    0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.nav-transition {
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition-property: color, background-color, border-color, box-shadow,
    -webkit-box-shadow;
  transition-duration: 0.15s, 0.15s, 0.15s, 0.15s, 0.15s;
  transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out,
    ease-in-out;
  transition-delay: 0s, 0s, 0s, 0s, 0s;
  -o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition-property: color, background-color, border-color, box-shadow,
    -webkit-box-shadow;
  transition-duration: 0.15s, 0.15s, 0.15s, 0.15s, 0.15s;
  transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out,
    ease-in-out;
  transition-delay: 0s, 0s, 0s, 0s, 0s;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  transition-property: color, background-color, border-color, box-shadow,
    -webkit-box-shadow;
  transition-duration: 0.15s, 0.15s, 0.15s, 0.15s, 0.15s;
  transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out,
    ease-in-out;
  transition-delay: 0s, 0s, 0s, 0s, 0s;
}

.nav-transition:hover {
  border-bottom: solid 1px transparent;
}

.active-nav {
  color: black !important;
  border-bottom: solid 1px black;
}

.header-img {
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('Tempe-Town-Lake-at-Night.jpg');
}

.overlay {
  height: 500px;
  width: 100%;
  background: linear-gradient(rgba(27, 27, 27, 0.9), rgba(27, 27, 27, 0.274));
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.fade {
  -webkit-animation: fadein 1s forwards; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1s forwards; /* Firefox < 16 */
  -ms-animation: fadein 1s forwards; /* Internet Explorer */
  -o-animation: fadein 1s forwards; /* Opera < 12.1 */
  animation: fadein 1s forwards;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
